<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Perfil</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap461/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body class="home">

<div class="home container-fluid">
    <div th:insert="/fragments/logo :: logo"></div>
    <header class="sticky-top container-fluid p-0" th:insert="/fragments/nav :: nav-principal">
    </header>
    <main class="container pt-4 d-flex justify-content-center pb-5">
        <section class="card">
            <div class="card-header">
                Crea tú perfil
            </div>
            <form method="post" th:action="@{/profile/save}" class="card-body needs-validation" id="frm_profile">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" required>
                        <div class="invalid-feedback">
                            El nombre es requerido
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" name="apellidos" id="apellidos" required>
                        <div class="invalid-feedback">
                            El apellido es requerido
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                        <div class="invalid-feedback">
                            El correo electronico es requerido
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="telefono">Teléfono</label>
                        <input type="number" class="form-control" name="telefono" id="telefono" required>
                        <div class="invalid-feedback">
                            El telefono es requerido
                        </div>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-md-6 mb-3">
                        <label for="pais">Pais</label>
                        <select class="form-control" name="pais" id="pais" required="">
                            <option value="">Seleccione un pais</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.code}"
                                    th:text="${country.name}">
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Seleccione un pais
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" id="container_ciudad" style="display: none;">
                        <label for="ciudad">Ciudad</label>
                        <select class="form-control" name="ciudad" id="ciudad" required="">
                            <option value="">Seleccione una ciudad</option>
                        </select>
                        <div class="invalid-feedback">
                            Seleccione una ciudad
                        </div>
                    </div>
                </div>
                <button id="btn_crear_perfil" class="btn btn-primary btn-lg btn-block" type="submit">
                    Crear Perfil
                </button>
            </form>
        </section>
    </main>
    <footer class="footer fixed-bottom">
        Derechos reservados
    </footer>
</div>
<script th:src="@{/libs/bootstrap461/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
</body>
</html>